__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
EUV_SIM/
*.mphtxt
*.mphbin
*.mph
*.class
*.log
*.csv
*.png
build/
*.egg-info/

# Outputs
results/
data/*.csv
data/*.png

LITERATURE/

# Ignore mph_usage_reference.py script
mph_usage_reference.py

# MPh example scripts
mph_example.py

# Ignore EVAPORATION_PHYSICS_REFERENCE directory
EVAPORATION_PHYSICS_REFERENCE/
